.chat-main
  .chat-main__group-info
    .right-header
      .right-header__group
        .right-header__group-name
          = @group.name
        .right-header__member-list
          Member:
          - @group.group_users.each do |group_user|
            = group_user.user.name
        
            
      .right-header__edit
        = link_to edit_group_path(@group) ,class:"edit-btn" do
          edit
  .MessageField
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
    